@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.doughnutTitle{
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  margin-left: auto;
  margin-right: auto;
}

*::-webkit-scrollbar{
  width: 0;
}